body {
    font-family: sans-serif;
}


.grid-item {
    width: 250px;
    float: left;
    margin: 5px;
    background: #CCC;
}


.grid-item img{
    width: 100%;

}

.grid-item span {
    position :absolute;;
    color: white;
    bottom: 0;
    right: 0;
    text-align: right;
}

